* {
    font-size: 100%;
    font-family: Arial;
}

.parent {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    justify-content: center;
    min-width: 10rem;
}

.questionContainer {
    border: black 1px solid;
    margin: 0.5rem 0;
    cursor: pointer;
    text-align: center;
    background-color: lightgray;
    padding: 0.5rem 0;
    font-weight: 600;
}